# ==========================================
# CONFIGURACIÓN DEL PROYECTO (FaceSentinel)
# Plantilla de variables de entorno (.env.example)
# ==========================================

# 1. Configuración de la API (FastAPI)
PROJECT_NAME="FaceSentinel"
API_V1_STR="/api/v1"

# 2. Rutas de Bases de Datos Locales
SQLITE_DB_PATH="./data/sql/database.db"
CHROMA_DB_PATH="./data/chromadb"
TEMP_IMAGES_PATH="./data/temp_images"

# 3. Configuración de Inteligencia Artificial (DeepFace)
AI_MODEL_NAME="ArcFace" 
FACE_MATCH_THRESHOLD=0.68 

# 4. Configuración de Blockchain (Web3 - Ganache por defecto)
# Para ejecución local fuera de Docker: "http://127.0.0.1:7545"
# Para ejecución dentro de Docker Compose: "http://ganache:7545"
BLOCKCHAIN_RPC_URL="http://127.0.0.1:7545"
CHAIN_ID=1337
SMART_CONTRACT_ADDRESS=""
DEVICE_PRIVATE_KEY=""

WEB3_PROVIDER_URI="http://127.0.0.1:7545"
# Cuenta y llave privada de prueba predeterminadas de Ganache (Cuenta 0 con balance inicial de 1000 ETH)
ADMIN_ADDRESS="0x90F8bf6A479f320ead074411a4B0e7944Ea8c9C1"
ADMIN_PRIVATE_KEY="0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d"

# 5. Seguridad M2M (Acceso Físico / Dispositivos IoT)
HW_CLIENT_SECRET="change-this-secret-in-production"

# 6. Seguridad — JWT
JWT_SECRET_KEY="facesentinel-super-secret-key-change-in-production"
JWT_EXPIRATION_MINUTES=60
RATE_LIMIT_PER_MINUTE=30
